{{#header-page}}
  {{> organisms-header}}
{{/header-page}}

{{#about-page}}
  {{> organisms-about}}  
{{/about-page}}


{{#photo-page}}
  {{> organisms-photo-org}}  
{{/photo-page}}

{{#moment-page}}
  {{> organisms-moment-org}}
{{/moment-page}}

{{#flowers-page}}
  {{> organisms-flowers-org}}
{{/flowers-page}}


{{#mail-page}}
  {{> organisms-mail-org}}
{{/mail-page}}
