<section class="photoBlock">
  <div class="container inner">
    {{#photo-org}}
      {{> molecules-title}}
      <ul class="photoBlock__list">
      {{#list}}
        <li class="photoBlock__item">
          {{> atoms-img}}
        </li>
      {{/list}}
      </ul>
    {{/photo-org}}


    <div class="about__mehrWrap photoBlock__mehrWrap">
        <div class="about__mehr">
          {{#mehr}}
            {{> atoms-img}}
            {{> atoms-text}}
            {{> atoms-img}}
          {{/mehr}}
        </div>
      </div>
  </div>
</section>