<section class="flowers">
  <div class="container inner">
    
    {{#title-org}}
      {{> molecules-title}}
    {{/title-org}}

    <div class="flowers__content">
      {{#flowers-list}}
        {{> molecules-flowers-list-item}}
      {{/flowers-list}}
    </div>

  </div>
</section>