<div class="wrapper">

  {{#header-page}} {{> organisms-header-org}} {{/header-page}} {{#about-page}} {{> organisms-about-org}} {{/about-page}} {{#photo-page}} {{> organisms-photo-org}} {{/photo-page}} {{#moment-page}} {{> organisms-moment-org}} {{/moment-page}} {{#flowers-page}}
  {{> organisms-flowers-org}} {{/flowers-page}} {{#mail-page}} {{> organisms-mail-org}} {{/mail-page}} {{#footer}} {{> organisms-footer-org}} {{/footer}} {{> organisms-footer-bottom-org}}

</div>



{{!-- popup --}} {{#popup}} {{> organisms-popup-org}} {{/popup}}