<div>

  {{#about-img}} {{>atoms-img}} {{/about-img}}

  <div class="about__content">

    {{#about-title}} {{> atoms-text}} {{/about-title}} {{#about-content}} {{> atoms-about-list}} {{/about-content}}

  </div>

</div>