.icon{
  display: inline-block;
}


.title{
  font-size: 0px;
  position: relative;
  padding: 0 0 30px 0;
  &:after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #cad0dc;
    z-index: 0;
  }
  &__inner{
    background: #fff;
    position: relative;
    width: 100%;
    display: inline-block;
    z-index: 10;
  }
  &__text{
    color: #2e3a54;
    font-size: 33px;
    display: inline-block;
    text-transform: capitalize;
    width: calc(100% - 60px);
    vertical-align: top;
  }
  &__icon{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
  }
}





.btn{
  border-radius: 0;
  border: 2px solid #cad0dc;
  box-shadow: 0;
  background: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 35px;
  color: #2e3a54;
  cursor: pointer;
  &__inner{
    background: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  &__wrap{
    text-align: center;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background: #cad0dc;
      left: 0;
      top: calc(50% - 1px);
      z-index: 0;
    }
  }
}



.section{
  box-shadow: 3px 3px 15px 3px rgba(42,46,57,.51);
}




.container{
  width: 100%;
  max-width: 1325px;
  min-width: 480px;
  margin: 0 auto;
  &_inner{
    padding: 0 25px;
    width: 100%;
    max-width: 1160px;
    min-width: 480px;
    margin: 0 auto;
    box-sizing: border-box;  
  }
}

.hide{
  display: none !important;
}







/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
 

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {




}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.title{
  padding: 0 0 30px 0;
  &:after{
    top: 30%;
  }
  &__inner{
    background: #fff;
    padding: 0 25px 0 0;
    width: auto;
  }
  &__text{
    color: #2e3a54;
    font-size: 33px;
    display: inline-block;
    text-transform: capitalize;
    width: calc(100% - 60px);
    vertical-align: top;
    white-space: nowrap;
  }
  &__icon{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
  }
}



}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

.inner{
  padding: 0px;
}



}



