.footer{
  padding: 30px 0 50px 0;
  background: rgba(255,255,255,.65);
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  &__logo{
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 0;
  }
  &__logoText{
    display: inline-block;
    vertical-align: middle;
    color: #2e3a54;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: -.8px;
  }
  &__logoInnerText{
    text-transform: uppercase;
    display: block;
  }

  &__socWrap{
    margin: 35px 0 0 0;
  }
  &__socList{
    font-size: 0;
  }
  &__socItem{
    width: 50%;
    display: inline-block;
  }
  &__socBtnWrap{
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: rgba(255,255,255,.6);
    border: 2px solid #2e3a54;
    box-sizing: border-box;
    margin: 0 20px 0 0;
  }
  &__socImg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__socText{
    color: #2e3a54;
    width: calc(100% - 85px);
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }

  &__btnWrap{
    margin: 35px 0 0 0;
  }
  &__btnItem{
    font-size: 0;  
    border: 2px solid #2e3a54;
    padding: 10px 0;
    text-align: center;
    margin: 0 0 15px 0;
    cursor: pointer;
    &:last-child{
      margin: 0;
    }
  }
  &__btnImg{
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 0;
  }
  &__btnText{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #2e3a54;
    font-size: 18px;
  }
  
  &__menuWrap{
    margin: 55px 0 0 0;
    text-align: center;
  }
  &__menuItem{
    display: inline-block;
    margin: 5px 0;
    border-right: 2px solid #2e3a54;
    &:last-child{
      border: none;
    }
  }
  &__menuLink{
    color: #2e3a54;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 0 8px;
    letter-spacing: -1px;
  }
}









/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
 

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.footer{
  padding: 55px 0 35px 0;
  font-size: 0;
  &__logoWrap{
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }
  &__logo{
    margin: 0 20px 0 0;
    width: 80px;
  }
  &__logoText{
    font-size: 25px;
  }

  &__socWrap{
    display: inline-block;
    vertical-align: top;
    margin: 0px 0 0 0;
    width: 60%;
  }
  &__socItem{
    width: 50%;
    display: inline-block;
  }

  &__btnWrap{
    margin: 35px 0 0 0;
    width: 60%;
  }
  &__btnItem{
    padding: 0 10px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 0 15px 0;
  }
  &__btnText{
    line-height: 40px;
  }
}


}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.footer{
  &__logoWrap{
    width: 30%;
  }

  &__socWrap{
    display: inline-block;
    vertical-align: top;
    margin: 0px 0 0 0;
    width: 25%;
  }
  &__socItem{
    width: 100%;
    margin: 0 0 20px 0;
    display: block;
  }

  &__btnWrap{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 45%;
  }
}

}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.footer{
  &__logoWrap{
    width: 35%;
  }

  &__socWrap{
    width: 25%;
  }
  &__socItem{
    width: 80%;
  }
  &__btnWrap{
    width: 40%;
  }
}



}