.header{
  background: rgba(255,255,255,.65);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0 0 30px 0;
  position: relative;
  &__nav{
    text-align: right;
  }
  &__mainMenu{
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,.65);
    z-index: 100;
  }
  &__sendwich{
    text-transform: uppercase;
    color: #4a526a;
    line-height: 50px;
    font-size: 40px;
  }
  &__item{
    display: block;
    position: relative;
    text-align: center;
    line-height: 14px;
    margin: 18px 0;    
  }
  &__link{
    color: #4a526a;
    margin: 5px 0;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
  }
}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {




}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
 

}




/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.header{
  &__mainMenu{
    position: relative;
    background: none;
  }
  &__sendwich{
    display: none;
  }
  &__item{
      display: inline-block;
      &:after{
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        right: 0;
        top: 0;
        background: #4a536a;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
    &__link{
      padding: 0 15px;
    }
}


}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.header{
  margin: 0 0 160px 0;
}


}





 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



}