<footer class="footerBottom">
  <div class="container_inner">

    <img src="../../../images/photos/logoBottom.jpg" alt="logo" class="footerBottom__logoImg" />

    <div class="footerBottom__textWrap">
      <p class="footerBottom__text">
        Durch diese schwere zeit begleitete uns:
      </p>
      <p class="footerBottom__text footerBottom__text_author">
        SG Bestattungen Steven Gorner
      </p>
    </div>
  </div>
</footer>