<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet"> 

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    

    <meta property="og:title" content="Max Mustermann">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="https://max-im.github.io/pages/best/senior-citizen">
    <meta property="og:image" content="https://max-im.github.io/img/pages/senior-citizen.jpg">
    <meta property="profile:first_name" content="Max">
    <meta property="profile:last_name" content="Mustermann">
    <meta property="profile:gender" content="male">
    <meta property="og:description" content="Own page Max Mustermann because he is a rock" />

    
    {{{ patternLabHead }}}
    <!-- End Pattern Lab -->
     <script src="../../js/sassLoader.js"></script>
  
  </head>
  <body class="{{ bodyClass }}">

